[submodule "FOSS/Stockfish"]
	path = FOSS/Stockfish
	url = https://github.com/official-stockfish/Stockfish
[submodule "FOSS/polyglot"]
	path = FOSS/polyglot
	url = https://github.com/ddugovic/polyglot
